# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env



.venv/
.venv

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Ignore migrations cache
**/migrations/__pycache__/

# Static and media files
staticfiles/


# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS/Linux system files
.DS_Store
*.swp
*~
