annotated-types==0.7.0
attrs==23.2.1.dev0
autocommand==2.2.2
btrfsutil==6.13
build==1.2.2
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.1
defusedxml==0.7.1
editables==0.5
fastjsonschema==2.21.1
filelock==3.17.0
Glances==4.3.0.8
hatchling==1.27.0
httpie==3.2.4
hyprshade==3.2.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lark==1.2.2
lit==19.1.7.dev0
Mako==1.3.9.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.6.0
multidict==6.0.5
nftables==0.1
numpy==2.2.3
OpenTimelineIO==0.17.0
orjson==3.10.15
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
poetry-core==2.1.1
psutil==7.0.0
pyaaf2==1.7.1
pycairo==1.27.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyGObject==3.50.0
pyproject_hooks==1.2.0
PySocks==1.7.1
pywal==3.3.0
QTermWidget==2.1.0
Reflector==2023.6.28.0.36.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
screeninfo==0.8.1
setuptools==75.8.0
TBB==0.2
trove-classifiers==2025.2.18.16
typing_extensions==4.12.2
ufw==0.36.2
urllib3==2.3.0
waypaper==2.5
wheel==0.45.0
